.container {
    max-width: 40rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    text-align: justify;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height:auto;
  }
  
  .headerHomeImage {
    width: 6rem;
    height:auto;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }