@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
}

@layer base {
  @import "./base.css";

  a {
    @apply text-neon-orange dark:text-yellow-500;
  }

  html.dark {
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity)) !important;
  }

  #__next-build-watcher {
    z-index: 10; /* Lower the z-index to ensure it does not interfere with the background visibility */
  }
}

@layer components {
  @import "./components.css";
}
